{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<style>
    @media (max-width:780px){
     .carousel-indicators {
        display:none
      }
    }
</style>

<section class="slide-wrapper" style="width:100%;height:100vh">
            <div id="myCarousel" class="carousel slide"  style="width:100%;height:100vh">
                <!-- Indicators -->
                <ol class="carousel-indicators m-auto" style="background:#013766 !important;padding:3px;width:10%;border-radius:20px">
                    <li data-target="#myCarousel" data-slide-to="0" style="color:black;"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                  <li data-target="#myCarousel" data-slide-to="3"></li>
                 </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" style="background:#fff" id="arg">
                    <div class="item item1 active">
                        <div class="fill" style=" width:100%;height:100vh">
                            <div class="inner-content">
                                <div class="container">
                                    <div class="carousel-img">
                                    <img src="{% static 'img/neo/4.jpg' %}" style="text-align:center;max-width:300px;width:100%;margin:auto" alt="sofa" class="img img-responsive" style="width:400px" />
                                </div>
                                <div class="carousel-desc">
                                    <h2 style="color:black;font-family:'Spartan', sans-serif;text-align:center;padding:10px"><br>{% trans 'Fast delivery' %}</h2>
                                    <p style="color:black;font-size:17px;font-family:'Spartan', sans-serif;padding:20px;text-align:center">{% trans 'Доставляем быстро и качественно. В каждых штатах находится наши склады.' %}</p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

{% endblock %}